name: test nodl

on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # windows testing is broken, re-add when the following is resolved
        # https://github.com/ros-tooling/action-ros-ci/issues/79
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
    - uses: actions/checkout@v1

    - name: Setup ROS2
      uses: ros-tooling/setup-ros@0.0.20
      with:
        required-ros-distributions: eloquent

    - name: Extra Mac Dependencies
      if: contains(matrix.os, 'macos-latest')
      run: |
        pip3 install lxml

    - name: Run Tests
      uses: ros-tooling/action-ros-ci@0.0.16
      with:
        package-name: nodl_python

    - name: Upload Logs
      uses: actions/upload-artifact@v1
      with:
        name: colcon-logs
        path: ros_ws/log
      if: always()
